<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <title>SSM - Jobs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/statics/mat-css/css/materialize.css" />
    <link rel="stylesheet" href="/statics/css/app.css" />
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper container">
                <div class="row">
                    <div class="col m12 s12">
                        <a href="/" class="brand-logo left"><i class="material-icons">cloud</i> JobPlaner</a>
                        <!--<ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="sass.html">Sass</a></li>
                        <li><a href="badges.html">Components</a></li>
                        <li><a href="collapsible.html">JavaScript</a></li>
                    </ul>-->
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!--<div class="container">
        <div class="row">
            <div class="col m1 s1">
                <a href="/jobs/new" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>-->

    <script type="text/javascript" src="/statics/jquery/jquery.js"></script>
    <script type="text/javascript" src="/statics/vue/vue.js"></script>
    <script type="text/javascript" src="/statics/mat-css/js/materialize.js"></script>
    <script type="text/javascript" src="/statics/moment/moment-with-locales.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{{body}}}
</body>

</html>