<div id="job-overview-app">
    <div class="container">
        <div class="row">
            <form v-on:submit.prevent="handleNewJobSubmit">
                <div class="input-field col l7 m6 s12">
                    <input id="newJob-title" name="title" v-model="newJob.title" placeholder="z.B. Jukeboxparty Fachbach" type="text" class="validate" aria-required="true" data-ok="false" required>
                </div>
                <div class="input-field col l3 m4 s12">
                    <input id="newJob-date" name="date" v-model="newJob.date" type="date" min="" class="validate" aria-required="true" data-ok="false" required>
                </div>
                <div class="input-field col l2 m2 s12">
                    <button type="submit" value="submit" class="btn btn-with-full-width blue lighten-3 waves-effect" aria-disabled="true"><i class="material-icons">save</i></button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col m12 s12">
                <ul id="job-list" class="collapsible z-depth-0 job-list">
                    <li v-for="job in jobs" :keys="job.location">
                        <div class="collapsible-header job-list-item-header">
                            <div class="container container-fluid">
                                <div class="row">
                                    <div class="col m12 s12 job-list-item-header-date">[[ job.date | moment ]]</div>
                                    <div class="col m4 s12">
                                        <h1>[[ job.title ]]</h1>
                                    </div>
                                    <div class="col m8 s12">[[ job.location ]]</div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body job-list-item-body container container-fluid">
                            <div class="row">
                                <div class="col m9 s12">[[ job.info ]]</div>
                                <div class="col m3 s12">
                                    <ul class="collection staff-list">
                                        <li class="collection-item light-padding" v-for="staff in job.staff">
                                            [[ staff.name.first ]] [[ staff.name.last]]
                                        </li>
                                    </ul>
                                </div>
                                <div class="col m12 s12">
                                    <div class="right">
                                        <a v-bind:href="'/jobs/' + job._id" class="btn-small waves-effect blue lighten-3"><i
                                                class="material-icons">edit</i></a>
                                        <a v-on:click="openModalDeleteJob(job)" class="btn-small waves-effect red lighten-3"><i
                                                class="material-icons">delete</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="modal-delete-job" class="modal">
        <div class="modal-content">
            <h4>Job löschen</h4>
            <p>Willst dur wirklich den Job löschen:</p>
            <b id="modal-delete-job-name" class="center"></b>
        </div>
        <div class="modal-footer">
            <a v-on:click="modalDeleteJobAgree" class="modal-close waves-effect btn-flat">Agree</a>
            <a v-on:click="closeModalDeleteJob" class="modal-close waves-effect btn-flat">Disagree</a>
        </div>
    </div>
</div>

<script>
    let hbsJobs = {{{ toJSON jobs }}}
</script>

<script type="text/javascript" src="/statics/js/jobs-overview.js"></script>